<div class="col-12 col-md-6 col-lg-4">
  <div class= "card">
    <div class="embed-responsive embed-responsive-21by9">
      <%= embed_youtube(movie.url) %>
    </div>
    <div style="text-align: center">
      <a href="#" class="btn btn-primary">読破済みにする</a>
      <br>
    </div>
    <p class="card-title"><%= "Lv.#{movie_counter +1 } :" %><%= movie.title %></p>
  </div>
</div>
  
