<div class="col">
  <div class="card" >
    <%= embed_youtube(movie.url) %>
    <div style="text-align: center">
      <a href="#" class="btn btn-primary">読破済みにする</a>
      <br>
    </div>
    <p class="card-title"><%= "Lv.#{movie_counter +1 } :" %><%= movie.title %></p>
  </div>
</div>