<div class="col">
  <div class="card" style="width: 23rem;">
    <div class="embed-responsive embed-responsive-21by9">
     <iframe class="embed-responsive-item" src= <%= (movie.url) %> frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div style="text-align: center">
      <a href="#" class="btn btn-primary">読破済みにする</a>
      <br>
    </div>
    <p class="card-title"><%= "Lv.#{movie_counter +1 } :" %><%= movie.title %></p>
  </div>
</div>
