/*
 *= require_tree .
 *= require_self
 */

.base-container {
  @extend .container-fluid;
  margin: 0 auto;
  padding: 1rem;
  width: 80%;

}


 @import "bootstrap/scss/bootstrap";

 body {
  padding-top: 90px;
}