.mw-xl {
  max-width: 1200px;
}
.base-container {
  margin: 0 auto;
  padding: 1rem;
}

.row {
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card {
  height: 370px;
  max-width: 376px;
  margin: 0 auto;
}
.btn-brock {
  display: block;
  width: 100%;
}