

  <div class="card">
    <%= image_tag("no_image.jpg") %>
    <div class="card-body">
      <a href="#" class="btn btn-secondary btn-brock">読破済みにする</a>
      <p class="card-text"><%= text.title %></p>
      【<%= text.genre %>】
    </div>
  </div> 