 <div class="card" style="width: 20rem;">
      <%= image_tag("no_image.jpg") %>
      <div class="card-body">
        <a href="#" class="btn btn-secondary">読破済みにする</a>
        <h4 class="card-title"><%= text.title %></h4>
        <p class="card-text">【<%= text.genre %>】</p>
        
      </div>
    </div>